<div class="about_me_div">
  <img class="about_me_photo" src="assets/img/yash_1.jpg">
  <p align="center"  style="font-size:18px; width:100%">
    I am Yash Gajera a Programmer, Designer, and Engineer and I make Cool Things! I did my bachelor's in Electronics Engineering from Gujarat Technological University Where I have done cool projects. After that, I joined Insignex as Embedded Software Engineer. At Insignex, I mainly focused on Designing IoT Systems. I wrote firmware and Design Embedded circuit boards for IoT Applications. Also worked on the Web Application framework to integrate embedded systems with the internet. Later I moved to New Jersey, United States. Currently, I am doing master’s in Computer Science at New Jersey Institute Of Technology.
  </p>
</div>
