<div class="website_cover">
<div class="tag_line">
  <h2>"HELLO THERE...!"</h2>
  <h3>I'M YASH GAJERA, A DESIGNER AND DEVELOPER, WHO MAKES GREAT AND EFFECTIVE THINGS.</h3>
  <div class="social_icon hi-icon-effect-1 hi-icon-effect-1a">
    <a target="_blank" href="http://www.facebook.com/yashgajera">
      <img clas="hi-icon" src="{{get_url('facebook.png')}}">
    </a>
    <a target="_blank" href="http://www.facebook.com/yashgajera">
      <img src="{{get_url('twitter.png')}}">
    </a>
  </div>
</div>
</div>
