<!--The whole content below can be removed with the new code.-->
<div class="nav_bar">
  <div class="identity"><a>Yash Gajera</a></div>
  <div class="nav_bar_menu">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/my-story" routerLinkActive="active">My Story</a>
    <a routerLink="/skills" routerLinkActive="active">Skills</a>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/resume" routerLinkActive="active">Resume</a>
    <a routerLink="/interact-with-me" routerLinkActive="active">Interact with Me</a>
</div>
</div>
<div class="main_content">
  <router-outlet></router-outlet>
</div>
