.nav_bar {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.56);
  height: 45px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.identity {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 170px;
  padding-top:13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
}

.nav_bar_menu {
  float: right;
  font-family: sans-serif;
  padding-top:15px;
  margin-right: 100px;
  letter-spacing: 0.7px;
}

.nav_bar_menu a {
  margin-right: 20px;
  text-decoration:none;
  color: #d4d1d1;
}

.active {
  color: white!important;
}

.nav_bar_menu a:hover{
  color: white !important;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  background-color: rgba(34, 34, 34, 0.56);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}
