<!--The whole content below can be removed with the new code.-->
<div class="nav_bar">
  <div class="identity"><a>Yash Gajera</a></div>
  <div class="nav_bar_menu">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about-me" routerLinkActive="active">About Me</a>
    <a routerLink="/skills" routerLinkActive="active">Skills</a>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/interact-with-me" routerLinkActive="active">Interact with Me</a>
  </div>
  <div class="open" (click)="mobile_menu_active=!mobile_menu_active" [class.oppenned]="mobile_menu_active">
    <span class="cls"></span>
    <span>
      <ul class="sub-menu ">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active">About Me</a></li>
        <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li><a routerLink="/interact-with-me" routerLinkActive="active">Interact with Me</a></li>
      </ul>
    </span> <span class="cls"></span>
  </div>

</div>


<div class="main_content">
  <router-outlet></router-outlet>
</div>

<div fxLayout='row'>
  <div fxFlex="100" class="footer">
    <footer>
      <span>Designed & Developed by Yash Gajera</span>
    </footer>
</div>
</div>
