<div id="particles-js"></div>

<div fxLayout='row' class="skills_text">
  <div fxFlex="100">
    <h2>SKILLS</h2>
  </div>
</div>

<div fxLayout='row' fxLayout.xs='column' fxLayout.sm='column' class="skills_content">
  <div fxLayout.sm='row' fxLayout='row' fxLayout.xs='column' fxFlex="40" fxFlex.xs="100">
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50">
      <h3 class="skill-header">Frontend</h3>
      <ul class="skills">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>JQuery</li>
        <li>AngularJS</li>
        <li>Ajax</li>
        <li>Bootstrap</li>
      </ul>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50">
      <h3 class="skill-header">Backend</h3>
      <ul class="skills">
        <li>PHP</li>
        <li>MySQL</li>
        <li>NOSQL</li>
        <li>SQL Lite</li>
        <li>Python</li>
        <li>Selenium</li>
        <li>Rest API</li>
        <li>Java</li>
        <li>C,C++</li>
      </ul>
    </div>
  </div>
  <div fxLayout.sm='row' fxLayout.xs='column' fxFlex="40" fxFlex.xs="100">
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50">
      <h3 class="skill-header">Framework</h3>
      <ul class="skills">
        <li>Joomla</li>
        <li>Drupal</li>
        <li>Wordpress</li>
        <li>Emoncms</li>
        <li>Django</li>
      </ul>
    </div>

    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex="50">
      <h3 class="skill-header">Design</h3>
      <ul class="skills">
        <li>Photoshop</li>
        <li>Framer.js</li>
        <li>Illustrator</li>
        <li>QT IDE</li>
      </ul>
    </div>
  </div>
  <div fxFlex.xs="100" fxFlex="20">
    <h3 class="skill-header">Hardware</h3>
    <ul class="skills">
      <li>Raspberry Pi</li>
      <li>Arduino</li>
      <li>Beaglebone Black</li>
      <li>PIC Microcontroller</li>
      <li>Zigbee Protocol</li>
      <li>Bootloader Design</li>
      <li>Firmware Design</li>
    </ul>
  </div>
</div>

<div fxLayout='row'>
  <a fxFlex="100" class="git_row" href="https://github.com/YashGajera" target="_blank">
    <div class="git_row_line gitrow_1"><span>Choice of Version Control </span>&nbsp;<img src="assets/img/git.png"> </div>
    <br> <div class="git_row_line gitrow_2"><span>along with </span><img src="assets/img/github.png"></div>
  </a>
</div>
